# Environment & Secret files
.env
*serviceAccountKey*.json
*firebase*.json
*.pem

# Compiled Binaries
main
main.exe
migrate
tmp_build
*.exe
bin/

# Build artifacts
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
